In [3]:
import tensorflow as tf
from tensorflow import keras
import json
from matplotlib.font_manager import json_dump
import numpy as np
import pandas as pd
from pandas.io.json import json_normalize
from datetime import datetime
import seaborn as sns
import matplotlib.pylab as plt
import os

# tf.config.list_physical_devices("GPU")
# print(tf.__version__)
# tf.test.is_gpu_available(cuda_only=True, min_cuda_compute_capability=None)

data_dir = '../Dataset_sensor_floor/Dataset_Final/03082022_V2'
#data_dir = '../../Sensorfloors/summerschool2020/test/'
#os.path.join(dirname, train_data_dir)
#"path/to/training/data"

train = []
for file in os.listdir(data_dir):
    # Read a single file as pandas DataFrame
    print(file)
    df = pd.read_csv(os.path.join(data_dir, file))
    frames = []
    # Generate a single frame for each row
    for index, row in df.T.items():
        # Create dictionary with constant values (i.e. labels and frame number)
        frame = {col: row[col] for col in df.columns if col != 'data'}
        # Create pandas.DataFrame from Json String located in the 'data' column
        frame['data']  = pd.read_json(row['data'])
        frame['data']['timestamp'] = pd.to_datetime(frame['data']['timestamp'], unit='s')
        #print(pd.to_datetime(frame['data']['timestamp'], unit='ms'))
        frames.append(frame)
    train.append(frames)

dataset_0308022_moving_edge.csv

In [5]:
frames[0]['data']

     strip_id  node_id      r                     timestamp
0           1        1 -78.47 2022-08-03 12:51:12.812307968
1           1        2 -73.21 2022-08-03 12:51:11.944015872
2           1        3 -73.47 2022-08-03 12:51:13.681312000
3           1        4 -72.95 2022-08-03 12:51:12.521625088
4           1        5 -70.95 2022-08-03 12:51:11.367014912
..        ...      ...    ...                           ...
340        23       11 -77.33 2022-08-03 12:51:11.943678976
341        23       12 -82.78 2022-08-03 12:51:12.228048128
342        23       13 -81.06 2022-08-03 12:51:11.374231040
343        23       14 -88.44 2022-08-03 12:51:13.146158080
344        23       15 -89.94 2022-08-03 12:51:11.089067008

[345 rows x 4 columns]